*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    color: #222;
}


.btn{
    background: #469165;
    color: white;
    border: none;
    padding: 16px 12px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}





.navbar{
    max-width: 1140px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo img{
    width: 139px;
}


.menu{
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}




