*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body{
    color: #222;
}


.btn{
    background: #469165;
    color: white;
    border: none;
    padding: 16px 12px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}


.btn-outline{
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 14px 28px;
    border-radius: 6px;
    cursor: pointer;

}


.navbar{
    max-width: 1140px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo img{
    width: 139px;
}


.menu{
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}


.hero{
    height: 90vh;
    background: url(assets/hero-bg.png);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}




.hero-content{
    max-width: 700px;
}

.badge{
    background: #fff;
    color: #469165;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 16px;
    align-items: center;
}

.hero h1{
    font-size: 48px;
    margin: 20px 0;
}

.hero h1 span{
    color: #30B868;
}

.hero p{
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 24px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}




















