*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body{
    color: #222;
}


.btn{
    background: #469165;
    color: white;
    border: none;
    padding: 16px 12px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}


.btn-outline{
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 14px 28px;
    border-radius: 6px;
    cursor: pointer;

}


.navbar{
    max-width: 1140px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo img{
    width: 139px;
}


.menu{
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}


.hero{
    height: 90vh;
    background: url(assets/hero-bg.png);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}




.hero-content{
    max-width: 700px;
}

.badge{
    background: #fff;
    color: #469165;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 16px;
    align-items: center;
}

.hero h1{
    font-size: 48px;
    margin: 20px 0;
}

.hero h1 span{
    color: #30B868;
}

.hero p{
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 24px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}


.problems{
    padding: 80px 20px;
    text-align: center;
}

.h2{
    font-size: 48px;
    color: #001931;
}


.subtitle{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-top: 10px;
}

.cards{
    max-width: 1140px;
    padding-bottom: 44px;
    margin: 60px auto 0;
    display: flex;
    gap: 24px;
}


.card{
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 6px 50px 0 #0000004d;
}



.card-icon{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}


card-icon img{
    width: 26px;
    height: auto;
}


.solution{
    padding: 120px 20px;
}


.solution-container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
}


.solution-image img{
    width: 600px;
    height: 600px;
}

.tag{
    color: #469165;
    font-size: 16px;
    line-height: 20px;
}

.solution-text h2{
    font-size: 48px;
    margin: 15px 0;
    line-height: auto;
}



.solution-text ul{
    list-style: none;
    margin-top: 20px;
}

.solution-text li{
    margin-bottom: 10px;
}


.cta{
    background: white;
    padding: 30px 20px;
    text-align: center;
}


.cta p{
    margin: 15px 0;
}

.bg1{
    max-width: 90%;
    height: 380px;

    background-color: #F7F6F2;
    border-radius: 12px;

    padding: 80px 80px;
    gap: 24px;


    margin: 0 auto;
    justify-content: center;




}


.p1{
    font-size: 16px;
    line-height: 24px;
}

.h2{
    font-size: 40px;
}


.note{
    display: block;
    margin-top: 10px;
    color: #627382;
}





.footer {
    margin-top: 130px;
    background: #001931;
    padding: 80px 0 30px;
    color: #ffffff;
    font-family: Arial, sans-serif;
}


.footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-brand img {
    max-width: 180px;
    height: auto;
}


.footer-social h4 {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 500;
}

.social-image {
    list-style: none;
    display: flex;
    gap: 14px;
    padding: 0;
    margin: 0;
}

.social-image li a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ffffff;
    color: #001931;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
}

.footer-divider {
    width: 71%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 50px auto 20px;
}

.footer-bottom {
    text-align: center;
    font-size: 16px;
    color: #FAFAFA;
    line-height: 24px;
}

